@font-face {
    font-family: 'Open Lato Bold';
    src: url('../assets/Lato-Bold.ttf')
}
@font-face {
    font-family: 'Open Lato Black';
    src: url('../assets/Lato-Black.ttf')
}
@font-face {
    font-family: 'Open Lato Light';
    src: url('../assets/Lato-Light.ttf')
}
@font-face {
    font-family: 'Open Lato Regular';
    src: url('../assets/Lato-Regular.ttf')
}